html
{
  background-color: #F2F4F4
}

h1
{
  color: #2F303D;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
}

h3
{
  color: #2F303D;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
}

p
{
    color: #90132A;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.zone1
{
  background-color: #19192A;
  height: 25%;
  width: 100%;
  margin: auto;
}

#search-title
{
  background-color: #19192A;
  color: #F2F4F4;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  padding-top: 2%;
}

#search-form
{
  background-color: #19192A;
  color: #F2F4F4;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
}

#search-box
{
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  border-radius: 20px;
  width: 25%;
  height: 20px;
  margin-bottom: 1%;
}

#search-results
{
  background-color: #19192A;
  color: #F2F4F4;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

#radio-title
{
  background-color: #19192A;
  color: #F2F4F4;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  padding-top: 2%;
}

#radio-form
{
  background-color: #19192A;
  color: #F2F4F4;
  font-family: 'Exo 2', sans-serif;
  padding-left: 46.5%;
}

#radio-box
{
  margin-bottom: 1%;
}

#radio-results
{
  background-color: #19192A;
  color: #F2F4F4;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.zone2
{
  background-color: #90132A;
  height: 25%;
  width: 100%;
  margin: auto;
}

#add-title
{
  background-color: #90132A;
  color: #F2F4F4;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
}

#add-form
{
  background-color: #90132A;
  color: #F2F4F4;
  font-family: 'Exo 2', sans-serif;
  padding-left: 46.5%;
}

#add-box
{
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  border-radius: 20px;
  width: 25%;
  height: 20px;
  margin-bottom: 1%;
}

#add-radio
{
  margin-bottom: 1%;
}
